[submodule "3rdparty/OculusSDK_0.5"]
	path = 3rdparty/OculusSDK_0.5
	url = https://github.com/xLAva/OculusSDK.git
       branch = master
[submodule "3rdparty/OculusSDK_0.8"]
	path = 3rdparty/OculusSDK_0.8
	url = https://github.com/xLAva/OculusSDK.git
	branch = 0.8
[submodule "3rdparty/OculusSDK_1"]
	path = 3rdparty/OculusSDK_1
	url = https://github.com/xLAva/OculusSDK.git
	branch = 1.3
